<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
     <div class="mb-3">
                        <label for="username" class="form-label">Имя пользователя</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password1" class="form-label">Пароль</label>
                        <input type="password" name="password1" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Подтверждение пароля</label>
                        <input type="password" name="password2" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
</form>
</body>
</html>